<div class="flex justify-center items-center h-svh bg-gray-50 dark:bg-slate-950">
  <div class="flex max-w-6xl gap-8">

    <div class="flex-col hidden lg:flex gap-4">
      <app-logo size="medium"></app-logo>
      <h1 class="text-5xl font-bold">Welcome to the future of <span class="text-gradient">content management</span></h1>
      <p class="text-lg leading-relaxed text-gray-500">
        Streamline your workflow with our intuitive platform designed for modern teams. Manage content, collaborate
        seamlessly, and scale your business effortlessly.
      </p>


      <div class="mt-2 grid grid-cols-3 gap-4 p-8 rounded-lg border-gray-700 bg-slate-800 border w-full">

        <div class="space-y-3">
          <div class="h-4 bg-gradient-to-r from-orange-200 to-orange-300 rounded-full"></div>
          <div class="h-4 bg-gray-200 rounded-full w-3/4"></div>
          <div class="h-4 bg-gray-200 rounded-full w-1/2"></div>
        </div>
        <div class="space-y-3">
          <div class="h-4 bg-gray-200 rounded-full w-2/3"></div>
          <div class="h-4 bg-gradient-to-r from-red-200 to-red-300 rounded-full"></div>
          <div class="h-4 bg-gray-200 rounded-full w-3/4"></div>
        </div>
        <div class="space-y-3">
          <div class="h-4 bg-gray-200 rounded-full w-1/2"></div>
          <div class="h-4 bg-gray-200 rounded-full w-2/3"></div>
          <div class="h-4 bg-gradient-to-r from-orange-200 to-red-200 rounded-full"></div>
        </div>
      </div>

      <div class="flex gap-8">

        <div class="flex items-center gap-2">
          <div class="w-2 h-2 bg-emerald-500 rounded-full"></div>
          <span>99.9% Uptime</span>
        </div>

        <div class="flex items-center gap-2">
          <div class="w-2 h-2 bg-blue-500 rounded-full"></div>
          <span>Enterprise Security</span>
        </div>

        <div class="flex items-center gap-2">
          <div class="w-2 h-2 bg-purple-500 rounded-full"></div>
          <span>24/7 Support</span>
        </div>
      </div>

    </div>

    <div class="w-md">
    </div>
  </div>
</div>
