<hys-sidenav-layout [navConfig]="MENU">
  <ng-template #logo>
    <a routerLink="/" class="flex w-full ps-4 gap-2 items-center mb-6">
      <div class="w-[32px] h-[32px] flex items-center justify-center text-white rounded bg-gradient"
        hysIconPosition="center center" icon="deployed_code" iconSet="outlined"></div>
      <h1 class="font-bold text-2xl">CMS Pro</h1>
    </a>
  </ng-template>
  <ng-template #main>
    <main class="px-4 py-6 h-full">
      <lib-card appearance="raised">
        <router-outlet />
      </lib-card>
    </main>
    <button hys-button variant="raised" class="fixed right-8 bottom-8"
      [icon]="(theme() | isLightTheme) ? 'light_mode' : 'dark_mode'" (click)="toggleTheme()">
    </button>
  </ng-template>
</hys-sidenav-layout>
