@use "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

@layer utility {

  .bg-primary {
    background-color: light-dark(var(--hys-color-white), var(--hys-color-black));
  }

  .fg-primary {
    color: light-dark(black, var(--hys-color-white));
  }

  .bg-secondary {
    // background-color: light-dark(#fbf9fa, #404040);
    background-color: light-dark(#fbf9fa, #020618);
    //TODO:why class not work
    // @apply bg-gray-50 dark:bg-neutral-700;
  }

  .bg-gradient {
    background-color: #F97316;
    background-color: linear-gradient(90deg, rgba(249, 115, 22, 1) 0%, rgba(239, 68, 68, 1) 100%);
  }

  .text-gradient {
    color: transparent;
    background: #F97316;
    background: linear-gradient(90deg, rgba(249, 115, 22, 1) 0%, rgba(239, 68, 68, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
}
