<hys-sidenav-layout [navConfig]="MENU || []">
  <ng-template #logo>
    <a routerLink="/">
      <app-logo></app-logo>
    </a>
  </ng-template>
  <ng-template #main>
    <main class="p-8 h-full overflow-y-scroll">
      <router-outlet />
    </main>
    <button hys-button variant="raised" severity="info" class="fixed right-8 bottom-16 w-[40px] rounded-full!"
      [icon]="(theme() | isLightTheme) ? 'light_mode' : 'dark_mode'" (click)="toggleTheme()">
    </button>
  </ng-template>
</hys-sidenav-layout>
