// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use './styles/global.scss';
@use '@angular/material' as mat;
@use './styles/_theme-colors.scss' as app-theme; // location of generated file
@use "tailwindcss";

$logo-size: 80px;

@custom-variant dark (&:where(.dark, .dark *));

@layer utility {
  .app-logo {
    background-image: url('/images/logo-sample.png');
    width: $logo-size;
    height: $logo-size;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .bg-primary {
    background-color: light-dark(var(--color-white), var(--color-black));
  }

  .fg-primary {
    background-color: light-dark(var(--color-black), var(--color-white));
  }

  .bg-secondary {
    background-color: light-dark(#fbf9fa, #404040);
    //TODO:why class not work
    // @apply bg-gray-50 dark:bg-neutral-700;
  }
}

:root {
  font-size: 14px;
  @include mat.card-overrides((outlined-container-shape: var(--radius-md),
      elevated-container-shape: var(--radius-md),
      outlined-container-color: light-dark(var(--color-white), var(--color-black)),
      elevated-container-color: light-dark(var(--color-white), var(--color-black)),
    ));
  @include mat.table-overrides((background-color: light-dark(var(--color-white), var(--color-black)),
      row-item-outline-color: var(--mdc-outlined-card-outline-color, var(--mat-sys-outline-variant)),
    ));
  @include mat.form-field-overrides((outlined-outline-width: 0,
      outlined-focus-outline-width: 0,
      container-height: 100%,
      container-vertical-padding: 4px,
    ));
  @include mat.button-toggle-overrides((shape: var(--radius-md),
      background-color: transparent,
      selected-state-background-color: var(--color-white),
      height: 30px,
      divider-color: transparent));
  @include mat.sidenav-overrides((container-shape: 0,
      content-background-color: var(--color-white),
    ));
}

html {
  color-scheme: light;
  @include mat.theme((color: (primary: app-theme.$primary-palette,
        tertiary: app-theme.$tertiary-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

/* You can add global styles to this file, and also import other style files */

body.dark {
  color-scheme: dark;
  color: var(--color-white);
}
