// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use './styles/global.scss';
@use '@angular/material' as mat;
@use './styles/_theme-colors.scss' as app-theme; // location of generated file
@use "tailwindcss";

:root {
  @include mat.button-overrides((filled-container-shape: var(--radius-md),
    ));
  @include mat.card-overrides((outlined-container-shape: var(--radius-md),
      elevated-container-shape: var(--radius-md),
    ));
  @include mat.form-field-overrides((filled-container-color: var(--mat-sys-surface-container-lowest),
      // outlined-outline-width: 0px,
      // outlined-focus-outline-width: 0px,
    ))
}

html {
  color-scheme: light;
  @include mat.theme((color: (primary: app-theme.$primary-palette,
        tertiary: app-theme.$tertiary-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

/* You can add global styles to this file, and also import other style files */

body.dark-mode {
  color-scheme: dark;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
